.bg-image{
    background-image: url("/images/cover_pic.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.navbar{
    background-color: #000000;
    opacity: 0.7;
}
.bgColor{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgb(0, 0, 0) 55%, rgba(194, 193, 193, 0) 55%);
    opacity: 0.7;
}
.section{
    padding-top: 100px;
    padding-bottom: 177px;
}
.text1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    font-weight: 1000;
    color: rgb(255, 255, 255);
    padding-top: 60px;
}

.text2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
    text-align: justify;
    padding-top: 10px;
    font-weight: 500;
    font-size: 20px;
    padding-right: 60px;
   /* background-color: rgba(189, 189, 189, 0.3); */
}

.heading{
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-bottom: 50px;
    font-weight: bold;
    color: #ffffff;
}
.bgColor1{
    background-color: #0d0739;
}
.text3{
    color: #ffffffa7;
    text-align: justify;
    font-size: 20px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
.text4{
    color: #ffffffa7;
    font-size: 17px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.section1{
    padding-top: 100px;
}
.heading1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #ffffff;
}
.img1{
   width: 50px;
   height: 50px;
}
.text5{
    color: #ffffffa7;
    font-size: 20px;
    padding-top: 13px;
    width: 120%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.text6{
    color: #ffffffa7;
    font-size: 20px;
    text-align: center;
    padding-top: 13px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.bgColor2{
    background-color: #caa10f;
}
.section2{
    padding-top: 100px;
    padding-bottom: 100px;
}

.heading2{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

.img2{
    padding-top: 70px;
}

.form-container {
    padding: 70px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.993);
    width: 500px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #000000;
    background-color: #ffffff;
}

.form-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-size: 17px;
    font-weight: 700;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    width: 100%;
    padding: 10px;
    border: 2px solid #040404;
    border-radius: 8px;
    background-color: white;
}

button[type="submit"] {
    background-color: #3f3f39;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

button[type="submit"]:hover {
    background-color: #4f4f48;
}

.img3{
    width: 700px;
}
.img4{
    width: 40px;
    height: 40px;
 }

 .heading3{
    color: #ffffffa7;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

.text7{
    color: #ffffffa7;
    font-size: 20px;
    font-weight: 550;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
    padding-top: 3px;
}

.padTop{
    padding-top: 80px;
}

.img5{
    width: 35px;
    height: 35px;
 }

 .text8{
    color: #ffffffa7;
    font-size: 18px;
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding-top: 30px;
    padding-left: 220px;
    padding-right: 220px;
 }

 #question{
    cursor: pointer;
    padding: 20px;
    font-size: 19px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    background-color: #caa10f;
    color: white;
  }

  #answer {
    padding: 30px;
    background-color: #0d0739;
    color: #ffffffa7;
    font-size:16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify
  }

  .img6{
    width: 80px;
    height: 50px;
 }